@font-face {
	font-family: "Kohinoor";
	font-weight: 300;
	src: url("../fonts/Kohinoor-Light.woff") format("woff");
}
@font-face {
	font-family: "Kohinoor";
	font-weight: 400;
	src: url("../fonts/Kohinoor-Medium.woff") format("woff");
}
  
	
:root {
	--body-family: "Kohinoor", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--display-family: "Kohinoor", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--font-size: calc(1rem + 0.15vw);
	--font-size-lead: calc(1.75rem + 0.1vw);
	--font-size-small: calc(0.9rem + 0.1vw);
	--font-size-h1: calc(2rem + 0.2vw);
	--font-size-h2: calc(1.8rem + 0.2vw);
	--font-size-h3: calc(1.5rem + 0.2vw);
	--font-size-h4: calc(1.3rem + 0.2vw);
	--font-size-h5: calc(1.2rem + 0.2vw);

	--font-weight-light: 300;
	--font-weight-normal: var(--font-weight-light);
	--font-weight-bold: 400;
	--font-weight-heavy: 900;
	--font-weight-heavy: var(--font-weight-bold);

	--line-height: 1.5;
	--line-height-headings: 1.2;

	--color-grey-dark: #424244;
	--color-grey: #DBDBDB;
	--color-grey-light: #efefef;
	--color-white: #F8F7F1;

	--color-primary: var(--color-grey-dark);
	--color-secondary: #E55E20;
	--color-secondary-dark: #D46634;
	--color-tertiary: var(--color-grey);
	--color-quaternary: #F8F7F1;

	--color-text-base: #333;
	--color-text-dark: #181822;
	--color-text-reversed: #fff;
	--color-text-link: #0087D0;
	--color-text-hover: #003451;

	--color-facebook: #3B5998;
	--color-twitter: #1DA1F2;
	--color-instagram: #262626;
	--color-youtube: #cc181e;
	--color-linkedin: #0077B5;

	--body-background-color: var(--color-quaternary);

	--border-radius: 16px;

	--spacing-xxl: 200px;
	--spacing-xl: 150px;
	--spacing-l: 100px;
	--spacing: 40px;
	--spacing-s: 10px;
	--spacing-xs: 1rem;

	--container: 1060px;
	--container-l: 1430px;
	--content-width: var(--container);

	@include mq(large) {
		--font-size-h1: calc(3.2rem + 0.2vw);
		--font-size-h2: calc(2rem + 0.2vw);
		--font-size-h3: calc(1.6rem + 0.2vw);
		--font-size-h4: calc(1.4rem + 0.2vw);
		--font-size-h5: calc(1.2rem + 0.2vw);
	}
}
