// Setup
@import "settings";
@import "utilities/mq";
@import "utilities/mixins";
@import "variables";
@import "utilities/helpers";
@import "utilities/modal";

// Base
@import "base/base";
@import "base/typography";
@import "components/*";

html, body  {
	background-image: none !important;
}
.fade {
	opacity: 1;
}

.icons,
.content {
	padding-top: var(--spacing-l) !important;
	padding-bottom: var(--spacing-l) !important;
}

.editor-styles-wrapper ul,
.editor-styles-wrapper *,
ul * {
	box-sizing: border-box !important;
}
.accordion-list {
	box-sizing: border-box;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
	pointer-events: none!important;
}
.wp-block {
	margin-top: 0;
	margin-bottom: 0;
}
.wp-block[data-align=wide] {
    max-width: var(--container-l);
}
.interface-complementary-area {
	width: 400px !important;
}
@media (min-width: 782px) {
	.interface-complementary-area {
		width: 400px !important;
	}
}
.carousel-slider {
	display: flex;
	justify-content: center;
}
.carousel-item,
.carousel--image {
	width: 100%;
}
.carousel-item {
	display: none;
	&:first-of-type {
		display: flex;
	}
}
.carousel-textleft {
	.carousel-item {
		.carousel--content,
		.carousel--image {
			display: none;
		}
		&:first-of-type {
			.carousel--content,
			.carousel--image {
				display: flex;
			}
		}
	}
}

.carousel-full {
	display: flex;
	flex-wrap: wrap;
}
.link-list-item {
	width: 30%;
	margin: 0 10px;
}

.accordion--content {
	display: none;
}

.careers {
	padding: var(--spacing-l) 0; 
}

.map-item {
	display: none;
}