// Setup
@import "settings";
@import "utilities/mq";
@import "utilities/mixins";
@import "variables";
@import "utilities/helpers";
@import "utilities/modal";

// Base
@import "base/base";
@import "base/typography";
@import "components/*";

html, body  {
	background-image: none !important;
}
.fade {
	opacity: 1;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
	pointer-events: none!important;
}