// Setup
@import "settings";
@import "utilities/mq";
@import "utilities/mixins";
@import "variables";
@import "utilities/helpers";
@import "utilities/modal";

// Base
@import "base/base";
@import "base/typography";
@import "components/*";

html, body  {
	background-image: none !important;
}
.fade {
	opacity: 1;
}

.icons,
.content {
	padding-top: var(--spacing-l) !important;
	padding-bottom: var(--spacing-l) !important;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
	pointer-events: none!important;
}
.wp-block {
	margin-top: 0;
	margin-bottom: 0;
}
.wp-block[data-align=wide] {
    max-width: var(--container-l);
}
.interface-complementary-area {
	width: 400px !important;
}
@media (min-width: 782px) {
	.interface-complementary-area {
		width: 400px !important;
	}
}