.hide { display: none; }
.accordion {
	padding: 0;
	list-style: none;
	text-align: center;
	padding: var(--spacing-l) 0;
	// border-bottom: 1px solid var(--color-grey);
	&-list {
		@extend .container;
		margin: 0 auto !important;
		padding: 0 var(--spacing) !important;
		// border-bottom: 1px solid var(--color-grey);
		// width: 100%;
		// max-width: var(--container-l) !important;

		// @include mq(medium) {
		// 	padding: 0 calc(var(--spacing) * 2) !important;
		// }
		@include mq(container) {
			padding: 0 1em !important;
		}

		li {
			&:last-of-type {
				border-bottom: 1px solid var(--color-grey);
			}
		}

		.active {
			.icon {
				color: var(--color-text-base);
				&--open {
					// display: none;
					transform: rotate(180deg);
				}
				&--close {
					display: none;
				}
			}
		}
	}
	&-icons {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		&-item {
			width: 20%;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			img {
				margin-bottom: 1rem;
			}
		}
	}
	&--title {
		@extend h3;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		border: none;
		border-top: 1px solid var(--color-grey);
		background: none;
		outline: none;
		padding: 1.5rem 0;
		width: 100%;
		transition: .3s background-color ease-in-out;
		margin-bottom: 0;

		// @include mq(medium) {
		// 	padding: var(--spacing) 0;
		// }
		.icon {
			color: var(--color-text-base);
			position: absolute;
			display: inline-flex;
			right: 0;
			// top: 1rem;
			width: 27px;
			height: 27px;
			&--close {
				display: none;
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
	
	&--content {
		display: flex;
		transition: .3s background-color ease-in-out;
		text-align: left;
		padding-bottom: var(--spacing);

		&-item {
			display: flex;
			margin-bottom: 2rem;
			width: 100%;
		}

		&__image {
			width: 30%;
			img {
				width: 100%;
			}
		}
		&__text {
			width: 70%;
			padding: 0 var(--spacing-l);
		}

		ul {
			margin-top: 1.5em;
			margin-bottom: 1.5em;
			padding: 0;
		}
	
		li {
			position: relative;
			padding-left: 1.2rem;
		}
	
		p {
			margin-bottom: var(--spacing-xs) !important;
			&:last-of-type {
				margin-bottom: 0 !important;
			}
		}
		li::marker {
			display: none;
		}
		li:before {
			content: "•";
			position: absolute;
			left: 0;
			top: 0;
			font-size: 1.7rem;
			line-height: 1;
			font-weight: bold;
			margin-right: 0.6em;
			color: var(--color-text-base);
		}
		&-image {
			width: 40%;
			margin-right: var(--spacing-l);
			img {
				width: 100%;
			}
			// @include mq(medium) {
			// 	width: 130px;
			// }
		}
		&-text {
			flex: 1;
			a {
				color: var(--color-text-base);
			}
		}
	}
}