.hide { display: none; }
.accordion {
	padding: 0;
	list-style: none;
	text-align: center;
	padding: var(--spacing-l) 0;
	border-bottom: 1px solid var(--color-grey);
	&--title {
		@extend h3;
		position: relative;
		display: flex;
		flex-direction: column;
		border: none;
		border-top: 1px solid var(--color-grey);
		background: none;
		outline: none;
		padding: 1.5rem 0;
		width: 100%;
		transition: .3s background-color ease-in-out;
		margin-bottom: 0;

		// @include mq(medium) {
		// 	padding: var(--spacing) 0;
		// }
		.icon {
			color: var(--color-text-base);
			position: absolute;
			display: inline-flex;
			right: 0;
			top: 1rem;
			width: 20px;
			height: 20px;
			@include mq(medium) {
				width: 30px;
				height: 30px;
			}
			&--close {
				display: none;
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
	.active {
		.icon {
			color: var(--color-text-base);
			&--open {
				display: none;
			}
			&--close {
				display: block;
			}
		}
	}
	&--content {
		display: flex;
		transition: .3s background-color ease-in-out;
		text-align: left;
		padding-bottom: var(--spacing);

		ul {
			margin-top: 1.5em;
			margin-bottom: 1.5em;
			padding: 0;
		}
	
		li {
			position: relative;
			padding-left: 1.2rem;
		}
	
		p {
			margin-bottom: var(--spacing-xs) !important;
			&:last-of-type {
				margin-bottom: 0 !important;
			}
		}
	
		li:before {
			content: "•";
			position: absolute;
			left: 0;
			top: 0;
			font-size: 1.7rem;
			line-height: 1;
			font-weight: bold;
			margin-right: 0.6em;
			color: var(--color-text-base);
		}
		&-image {
			width: 80px;
			margin-right: var(--spacing);
			@include mq(medium) {
				width: 130px;
			}
		}
		&-text {
			flex: 1;
			a {
				color: var(--color-text-base);
			}
		}
	}
}