.application-form {
	@extend .container;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--spacing) var(--spacing-s);
	@include mq(medium) {
		flex-direction: row;
		padding: var(--spacing-l) 0;
	}
	&--form {
		
		@include mq(medium) {
			width: 65%;
		}

		ul {

			padding-left: 0;
			li {
				display: flex;
				flex-direction: column;
				margin-bottom: 1rem;
				@include mq(medium) {
					flex-direction: row;
					margin-bottom: 1rem;
				}
			}
		}

		label {
			margin-right: 5%;
			margin-top: 1.2rem;
			font-weight: var(--font-weight-normal);
			@include mq(medium) {
				width: 25%;
			}
		}
		p {
			width: 100%;
		}
		input[type="text"],
		input[type="file"] {
			width: 100%;
			// height: 60px;
			padding: 2rem 2rem;
			border-radius: 60px;
			background-color: transparent;
			border: solid 1px black;
		}
		input[type="file"] {
			padding: 1.2rem 2rem 2.7rem 2rem;
		}
		textarea {
			width: 100%;
			padding: 2rem 2rem;
			border-radius: 30px;
			background-color: transparent;
			border: solid 1px #000;
			height: 220px;
		}
	}
}