.banner {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	background-color: var(--color-grey-dark);
	background-size: cover;
	background-position: 10% center;
	width: 100%;
	min-height: 100vh;
	@include mq($until: medium) {
		background-image: none !important;
	}
	@include mq(medium) {
		flex-direction: row;
		height: 100vh;
		min-height: 800px;
	}
	&--video {
		&-image {
			// position: relative;
			// width: 100vh;
			// min-width: 50%;
			// margin-bottom: 2rem;
			margin-bottom: var(--spacing);

			background-size: cover;
			background-repeat: no-repeat;
			background-position: right center;

			img {
				display: block;
			}
			
			@include mq(medium) {
				margin-bottom: 0;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 60%;

				img {
					display: none;
				}
			}
		}
	}
	&--image {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		min-width: calc(100% + 2px);
		min-height: calc(100% + 2px);
		display: block;
		@include mq(medium) {
			display: none;
		}
	}

	&--overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	}
	&--content {
		z-index: 2;
		text-align: center;
		padding-bottom: var(--spacing);
		// @include mq(medium) {
		// 	display: none;
		// }
		h1, h2, h3, h4, h5, p, a {
			color: white;
		}
		.btn-video {
			margin-top: 2rem;
			justify-content: center;
		}
		&-video {
			@include mq(medium) {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				text-align: left;
				width: 50%;
				margin-left: 50%;
			}
			.btn-video {
				margin-top: 2rem;
				justify-content: flex-start;
			}
		}
	}
}