.btn {
	display: inline-block;
	border-radius: 200px;
	padding: 20px 65px;
	border: 1px solid var(--color-secondary-dark);
	color: var(--color-text-dark);
	// height: 40px;
	// line-height: 40px;
	font-family: var(--display-family);
	font-size: var(--font-size);
	text-align: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	overflow: hidden;
	z-index: 1;

	&:hover, &:focus,
	a:hover, a:focus {
		outline: 0;
		color: var(--color-text-dark);
		// background-color: var(--color-secondary);
		// border-color: var(--color-primary);
		text-decoration: none;
	}

	&-video {
		display: flex;
		align-items: center;
		transition: all 0.1s ease-in-out;
		svg {
			margin-right: 1rem;
		}
		&:hover {
			text-decoration: none;
			color: var(--color-secondary);
			transition: all 0.1s ease-in-out;
			.icon--play {
				color: var(--color-secondary);
			}
		}
	}
}
span.btn {
	padding: 0;
	a {
		position: relative;
		display: inline-block;
		padding: 20px 65px;
		border-radius: 200px;
		transition: all 0.1s ease-in-out;
		z-index: 1;
		&:before {
			position: absolute;
			transition: .3s;
			content: '';
			width: 0;
			bottom: -1px;
			background: var(--color-secondary);
	
			height: 120%;
			left: -10%;
			transform: skewX(15deg);
			z-index: -1;
		}
		&:hover {
			color: white;
			&:before {
				left: -10%;
				width: 120%;
			}
		}
	}
}

.btn--primary {
	background-color: var(--color-secondary);
	border: 1px solid var(--color-secondary);
	color: white;

	&:hover, &:focus {
		border-color: var(--color-secondary);
		color: white;
	}
}
