.careers {
	@extend .container--large;
	margin: 0 auto;
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
	text-align: center;

	@include mq(medium) {
		padding-top: var(--spacing-l);
		padding-bottom: var(--spacing-l);
	}

	&__filter {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0 1rem;
		margin-bottom: 1rem;
		@include mq(medium) {
			flex-direction: row;
			padding: 0;
			margin-bottom: 3rem;
		}
		
		&-item {
			width: 100%;
			@include mq(medium) {
				width: calc(100% / 3);
				margin: 0 calc(var(--spacing-xs) * 2) 0 calc(var(--spacing-s) * 2);
			}
		}
		select {
			// text-transform: uppercase;
			color: var(--color-text-base);
			background: none;
			border: none;
			padding: 0;
			width: 100%;
			border-bottom: solid 1px var(--color-text-base);
			border-radius: 0;
			margin-bottom: 1rem;

			@include mq(medium) {
				margin-bottom: 0;
			}
			
			option {
				text-transform: capitalize;
			}
		}
		select:last-child{
			margin-right: 0;
		}
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
	}
	&-item {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: var(--spacing-s) 0;
		background: white;
		border-radius: 5px;
		padding: calc(var(--spacing-s) * 2.5);
		text-align: left;
		border: 3px solid white;
		transition: all .1s ease-in-out;

		@include mq(medium) {
			width: calc(100% / 3 - var(--spacing-s) * 1.5);
			margin: var(--spacing-s);
		}

		&:hover {
			transition: all .1s ease-in-out;
			text-decoration: none;
			color: var(--color-text-base);
			border: 3px solid var(--color-secondary);
		}

		&:nth-child(3n+1) {
			margin-left: 0;
		}
		&:nth-child(3n+3) {
			margin-right: 0;
		}

		p {
			margin: 0;
		}

		.label {
			color: var(--color-grey-dark);
		}

		&__header {
			display: flex;
			justify-content: space-between;
			margin-bottom: calc(var(--spacing) * 2);
		}
		&__footer {
			display: flex;
			justify-content: space-between;
			margin-top: auto;
		}
		&__new {
			display: flex;
			align-items: center;
			background-color: var(--color-secondary);
			color: white !important;
			padding: 0.5rem 1rem 0.3rem 1rem;
			border-radius: 16px;
			transform: translateY(-5px);
		}
		&__image {
			width: 34px;
		}
	}
}