.carousel {
	width: 100%;
    overflow: hidden;
	&-item {
		display: flex !important;
		&--title {
			@extend .container--large;
			transform: translateY(calc(100% + var(--spacing)));
			z-index: 999;
			position: relative;
		}
	}
	&-textleft {
		.carousel--content {
			width: 50%;
			padding-right: 20%;
			display: flex;
			flex-direction: column;
			margin-top: auto;
		}
		.carousel--image {
			width: 50%;
			img {
				margin-left: auto;
			}
		}
		// &--content {
		// 	width: 50%;
		// 	padding-right: 20%;
		// 	display: flex;
		// 	flex-direction: column;
		// 	margin-top: auto;
		// }
		// &--image {
		// 	width: 50%;
		// 	img {
		// 		margin-left: auto;
		// 	}
		// }
	}
	&-full {
		@extend .container--large;
		padding-top: var(--spacing);
		padding-bottom: var(--spacing-l);

		&--content {
			@extend .container--large;
			display: flex;
			justify-content: center;
			padding-bottom: var(--spacing-l);

			> div {
				width: 50%;
			}
		}
	}
}