.companies{
	padding: var(--spacing-l) 0;
	text-align: center;
	
	&--title {
		width: 100%;
	}
	&-list {
		@extend .container--large;
		display: flex;
		flex-direction: column;
		// background: red;
		justify-content: center;
		padding: 0 var(--spacing);
		@include mq(medium) {
			flex-direction: row;
			padding: 0 1em;
		}
		&-item {
			text-align: left;
			text-decoration: none;
			width: 100%;
			flex: 0 0 0px;
			min-width: 30%;
			margin-bottom:  var(--spacing);
			@include mq(medium) {
				margin: 0 0.5rem;
				width: auto;
			}
			&--image {
				margin-bottom: 1rem;
				img {
					width: 100%;
				}
			}
			p {
				text-decoration: underline;
			}
			&:hover {
				text-decoration: none;
			}

			span {
				text-decoration: none;
			}
		}
	}
}