// .global-header__hide {
// 	transform: translateY(-100%);
// 	transition: transform 0.2s ease-in-out;
// }
// .header-active .global-header__hide {
// 	transform: translateY(0);
// }

.menu-active {
	overflow: hidden;
}
.global-header {
	position: absolute;
	transition: transform 0.2s ease-in-out;
	width: 100%;
	top: 0;
	z-index: 999;
	&-active {
		position: fixed;
	}
	&--inner {
		display: flex;
		// justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: var(--container-l);
		margin: 0 auto;
		padding: 1rem;
		z-index: 9;
		@include mq(medium) {
			padding: 1rem;
		}
		.btn {
			z-index: 999;
			padding: 8px 35px 5px 35px;
			border: 1px solid white;
			color: white;
			&:hover {
				color: var(--color-secondary);
				border-color: var(--color-secondary);
			}
		}
	}
	&--logo {
		z-index: 999;
		width: 300px;
		margin-bottom: 0;
		a {
			display: block;
		}
	}
	&--nav {
		display: none;
		@media only screen and (min-width: 880px) {
			display: flex;
			align-items: center;
			height: 100%;
		}
		ul {
			padding-left: 0;
			display: flex;
			li {
				display: inline;
				line-height: 100%;
				margin: 0;
				// transition: padding 0.2s ease-in-out;
				@include mq(medium) {
					padding: 0;
				}
				&:last-of-type {
					margin-right: 0;
				}
				a {
					color: var(--color-text-base);
					font-weight: var(--font-weight-normal);
					height: 100%;
					position: relative;
					display: flex;
					align-items: center;
					padding: 1rem 0;
					margin: 0;
					text-decoration: none;
					transition: all 0.1s ease-in-out;
					&:hover {
						color: var(--color-secondary);
						transition: all 0.1s ease-in-out;
					}
				}
			}
			.current-menu-item, .current_page_parent, .current-page-ancestor {
				color: white;
				a {
					color: white;
					&:hover {
						color: var(--color-secondary);
						// background-color: var(--body-background-color);
					}
				}
			}
			.current-menu-item > a {
				position: relative;
			}
		}

		&-btn {
			margin-left: auto;
			cursor: pointer;
			overflow: visible;
			background: none;
			border: 0;
			outline: none !important;
			display: flex;
			// margin-top: 7px;
			z-index: 4;
			padding: 0;
			margin-right: 1rem;
			margin-top: 3px;
			&:hover {
				.global-header--nav-inner,
				.global-header--nav-inner::before,
				.global-header--nav-inner::after {
					background-color: var(--color-secondary);
				}
			}
		}

		&__mobile {
			position: fixed;
			// padding: 30px;
			// padding-top: 50px;
			right: -100%;
			top: 0;
			width: 100%;
			height: 100vh;
			z-index: 3;
			background: transparent;
			transition: all 0.2s ease-in-out;
			display: flex;
			justify-content: center;
			align-items: center;
			// @include mq(medium) {
				
			// }
			
			ul {
				display: flex;
				flex-direction: column;
				li {
					// line-height: 2rem;
					padding: 0;
					a {
						color: white;
						// padding: 0;
						font-size: 1.2rem;
						&:hover {
							color: var(--color-secondary);
						}
					}
				}
				.menu-search {
					margin-top: 1rem;
					padding-top: 0.5rem;
					border-top: 1px solid rgba(255,255,255,0.2);
				}
			}
		}
	}
}

.menu-primary-container {

	@include mq(medium) {
		margin-left: auto;
		width: 50%;
	}
}

ul.menu {
	padding-left: 0;
	align-items: flex-start;
	li {
		padding-left: 0;
		display: inline-block;
		position: relative;
	}
	.sub-menu {
		z-index: 5;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding-left: 1.5rem;
		
		@include mq(medium) {
			min-width: 220px;
			margin: 0 1rem;
			position: absolute;
			border-radius: 5px;
			transform: translateY(-10px) translateX(-50%);
			opacity: 0;
			visibility: hidden;
			transition: .2s ease;
			margin: 0;
			padding: 1rem 1rem;
			left: 50%;
			text-align: center;
			&:before {
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				top: 0;
				left: 50%;
				transform: translateX(-50%) translateY(-50%) rotate(45deg);
			}
		}
		li {
			// margin-bottom: 1rem;
			padding: 0;
			display: block;
			margin: 0;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				margin: 0;
				padding: 1rem 0;
				display: block;
				@include mq($until: medium) {
					color: green;
				}
				&:after {
					content: '';
					display: none;
					visibility: hidden;
				}
			}
		}
	}
}
ul.menu li:hover > .sub-menu {
	@include mq(medium) {
		opacity: 1;
		visibility: visible;
		transform: translateY(15px) translateX(-50%);
		transition: .2s ease;
	}
}


.global-header--nav__mobile.is-active {
	transform: translateX(-100%);
	transition: all 0.2s ease-in-out;
	background: var(--color-grey-dark);
}
/*
* SVG animation
*/
.global-header--nav-btn.is-active .global-header--nav-inner,
.global-header--nav-btn.is-active .global-header--nav-inner::before,
.global-header--nav-btn.is-active .global-header--nav-inner::after {
	background-color: white;
}
.global-header--nav-btn.is-active {
	// position: fixed;
	// right: 1rem;
	// margin-top: 6px;
	&:hover {
		.global-header--nav-btn.is-active .global-header--nav-inner,
		.global-header--nav-btn.is-active .global-header--nav-inner::before,
		.global-header--nav-btn.is-active .global-header--nav-inner::after {
			background-color: var(--color-secondary);
		}
		.global-header--nav-inner,
		.global-header--nav-inner::before,
		.global-header--nav-inner::after {
			background-color: var(--color-secondary);
		}
	}
}

.global-header--nav-box {
	width: 30px;
	height: 30px;
	display: inline-block;
	position: relative;
}

.global-header--nav-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
	span {
		visibility: hidden;
		position: absolute;
		text-indent: -9999px;
	}
}
.global-header--nav-inner,
.global-header--nav-inner::before,
.global-header--nav-inner::after {
	width: 30px;
	height: 2px;
	background-color: white;
	border-radius: 20px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.global-header--nav-inner::before,
.global-header--nav-inner::after {
	content: "";
	display: block;
}
.global-header--nav-inner::before {
	top: -8px;
}
.global-header--nav-inner::after {
	bottom: -8px;
}

.global-header--nav-inner {
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.global-header--nav-inner::before,
.global-header--nav-inner::after {
	transition-duration: 0s;
	transition-delay: 0.1s;
	transition-timing-function: linear;
}
.global-header--nav-inner::before {
	transition-property: top, opacity;
}
.global-header--nav-inner::after {
	transition-property: bottom, transform;
}

.is-active .global-header--nav-inner {
	transform: rotate(765deg);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.is-active .global-header--nav-inner::before, .is-active .global-header--nav-inner::after {
	transition-delay: 0s;
}
.is-active .global-header--nav-inner::before {
	top: 0;
	opacity: 0;
}
.is-active .global-header--nav-inner::after {
	bottom: 0;
	transform: rotate(90deg);
}
