.icons {
	padding-top: var(--spacing-xs);
	padding-bottom:  var(--spacing-xs);
	@extend .container--large;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	@include mq(medium) {
		padding-top: var(--spacing-l);
		padding-bottom: var(--spacing-l);
	}
	// @include mq(large) {
	// 	padding-top: var(--spacing-l);
	// 	padding-bottom: var(--spacing-l);
	// }

	&-item {
		text-align: center;
		margin: 0 0.5rem;

		&--image {
			margin-bottom: 2rem;
		}
	}
}