// =============================================================================
// Site
// =============================================================================

.global-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-width: var(--container-global);
	margin: 0 auto;
	background-color: var(--color-quaternary);
}

.container {
	margin: 0 auto;
	padding: 0 var(--spacing-xs);
	width: 100%;
	max-width: var(--container);
}
.container--large {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: var(--container-l);
}

.main {
	@extend .container;
	max-width: var(--content-width);
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-l);
	flex: 1;
}

.bkg {
	&--white {
		background-color: var(--color-white);
	}
	&--cream {
		background-color: var(--color-cream);
	}
	&--darkgrey {
		background-color: var(--color-grey-dark);
		h1, h2, h3, h4, h5, p, a {
			color: white
		}
	}
	&--grey {
		background-color: var(--color-grey);
	}
}
