.link-list {
	padding: var(--spacing-l) 1em;
	text-align: center;
	
	&--title {
		width: 100%;
	}

	.carousel-slider {
		@extend .container--large;
		padding: 0;
		@include mq(xlarge) {
			padding: 0 var(--spacing);
		}
		@include mq(container) {
			padding: 0 var(--spacing);
		}
		.slick-list {
			margin: 0 var(--spacing);

			@include mq(container) {
				margin: 0 var(--spacing-s);
			}
		}
		.slick-slide {
			// margin: 0 var(--spacing-s);
			margin: 0 var(--spacing-s);
		}
	}
	&-item {
		text-align: left;
		text-decoration: none;
		@include mq(medium) {
			// margin: 0 var(--spacing-xs);
		}
		&--image {
			margin-bottom: 1rem;
			position: relative;
			img {
				width: 100%;
			}
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0);
				transition: background-color .1s ease-in-out;
			}
		}
		&--logo {
			position: absolute;
			left: 1rem;
			bottom: 1rem;
			width: 40px !important;
			z-index: 9;
		}
		p {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: none;
		}

		span {
			text-decoration: none;
		}
		&:hover {
			color: var(--color-text-base);
			.link-list-item--image {
				&:after {
					background-color: rgba(0, 0, 0, 0.15);
					transition: background-color .1s ease-in-out;
				}
			}
		}
	}
}