.link-block {
	@extend .container--large;
	padding-left: 1em;
	padding-right: 1em;
	min-height: 100px;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	padding-top: var(--spacing-xs);
	@include mq(medium) {
		background-color: transparent;
	}

	&-item {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: var(--spacing-xs);
		margin-top: 0;
		padding: var(--spacing);
		transition: background .1s ease-in-out;
		// @include mq(medium) {
		// 	width: 100%;
		// 	padding: var(--spacing);
		// }
		@include mq(medium) {
			width: calc(100% / 2 - var(--spacing-s));
			margin: var(--spacing-s);
			margin-bottom: var(--spacing-xs);
			margin-top: 0;
			min-height: 360px;
			padding: var(--spacing);
		}
		@include mq(xlarge) {
			padding: var(--spacing-l);
		}
		img {
			position: absolute;
			height: 100%;
		}
		p {
			margin: 0;
		}
		&:nth-child(odd) {
			margin-left: 0;
			p {
				margin: 0;
				margin-left: 50%;
			}
			img {
				left: 0;
			}
		}
		&:nth-child(even) {
			margin-right: 0;
			img {
				right: 0;
			}
		}
		&:nth-child(1),
		&:nth-child(4) {
			background: var(--color-grey);
			color: var(--color-grey-dark);

			&:hover {
				text-decoration: none;
				background-color: #B5B4B4;
			}
		}
		&:nth-child(2),
		&:nth-child(3) {
			background: var(--color-grey-dark);
			color: var(--color-white);

			&:hover {
				text-decoration: none;
				background-color: #262626;
			}
		}
		&:hover {
			transition: background .1s ease-in-out;
		}
	}
}