.testimonial {
	position: relative;
	padding: var(--spacing) var(--spacing) var(--spacing-l) var(--spacing);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	overflow: hidden;
	@include mq(medium) {
		min-height: 400px;
		padding: var(--spacing-l) 0;
	}
	&--quote {
		width: 100%;
		@extend .container--large;
		@include mq(medium) {
			padding: 0 var(--spacing-l);
		}
		@include mq(container) {
			padding: 0 1em;
		}

		&__position {
			width: 50%;
		}
	}
	&--image {
		position: absolute;
		top: 0;
		height: 100%;
		width: 70%;
		@include mq(medium) {
			width: 50%;
		}
		@include mq(large) {
			width: 50%;
		}
		background-size: cover;
		background-repeat: no-repeat;

		img {
			display: none;
		}
	}
}

.image--left {
	.testimonial--quote {
		&__position {
			width: 50%;
			margin-left: auto;
		}
	}
	.testimonial--image {
		background-position: right center;
	}
}

.image--right {
	.testimonial--quote {
	}
	.testimonial--image {
		background-position: left center;
		margin-left: 50%;
	}
}