.text-image {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	@include mq(medium) {
		flex-direction: row;
	}
	&--content {
		@extend .container--large;
		padding: calc(var(--spacing) / 2) var(--spacing);
		// @include mq(medium) {
		// 	width: 40%;
		// 	padding: var(--spacing);
		// 	padding-right: 0;
		// }
		&-inner {
			width: 100%;
			padding: var(--spacing-xs) 0;
			padding-right: 0;
			@include mq(medium) {
				width: 40%;
				padding: var(--spacing);
				padding-right: 0;
			}
			@include mq(large) {
				padding: var(--spacing-l) var(--spacing);
				padding-right: 0;
			}
			@include mq(container) {
				width: 35%;
				padding: var(--spacing-l) 0;
				padding-right: 0;
			}
		}

		.btn {
			margin-top: var(--spacing);
		}
		&__square {
			max-width: none;
			padding: 0;
			display: flex;
			flex-direction: column;
			order: 1;
			@include mq(medium) {
				align-items: center;
				flex-direction: row;
			}

			.text-image--content-inner {
				width: 100%;
				padding: var(--spacing) !important;
				@include mq(medium) {
					width: 50%;
				}
				@include mq(large) {
					width: 50%;
					padding: var(--spacing-l) !important;
				}
				@include mq(xlarge) {
					width: 50%;
					padding: var(--spacing-xl) !important;
				}
				@include mq(container) {
					width: 50%;
					padding: var(--spacing-xl) !important;
				}
			}
		}
	}
	&--image {
		position: relative;
		width: 100%;
		height: 100%;

		@include mq(medium) {
			position: absolute;
			width: 60%;
			height: 100%;
			margin-left: 40%;
			background-size: cover;
			background-position: center left;
			background-repeat: no-repeat;
		}
		img {
			width: 100%;
			@include mq(medium) {
				display: none;
				visibility: hidden;
				height: 100%;
				max-width: none;
				margin-left: auto;
			}
		}
		&__square {
			margin-left: 0%;
			width: 100%;
			background-position: center;
			@include mq(medium) {
				margin-left: 50%;
				width: 50%;
			}
		}
	}
	&__square {
		min-height: 50vw;
		// @include mq(global) {
		// 	min-height: calc(var(--container-global) / 2);
		// }
	}
}
.image--left {
	.text-image--content__square {
		padding-left: 0;
		.text-image--content-inner {
			@include mq(medium) {
				margin-left: 50%;
			}
		}
	}
	.text-image--image {
		margin-left: 0;
		margin-right: 40%;
		background-position: center right;
		img {
			margin-left: 0;
			margin-right: auto;
			right: 0;
		}
	}
	.text-image--content-inner {
		margin-left: auto;
		padding: var(--spacing-xs) 0;
		padding-left: 0;
		@include mq(medium) {
			padding: var(--spacing);
			padding-left: 0;
		}
		@include mq(large) {
			padding: var(--spacing-l) var(--spacing);
			padding-left: 0;
		}
		@include mq(container) {
			padding: var(--spacing-l) 0;
			padding-left: 0;
		}
	}
}